@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300;400;700&family=Shantell+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.light {
    --primary:139,92,246;
    --primary-dark:124,58,237;
    --secondary:243,244,246;
    --secondary-dark:229,231,235;
    --secondary-darker:107,114,128;
    --background:255,255,255;
    --text:0,0,0;
}

.dark {
    --primary:5,119,253;
    --primary-dark:5,117,250;
    --secondary-dark:35,37,47;
    --secondary-darker:107,114,128;
    --background:0,0,0;
    --text:255,255,255;
}

* {
    @apply transition-colors duration-75 ease-in-out;

      /* width */
      ::-webkit-scrollbar {
        width: 6px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        background: rgba(var(--background));
      }
      
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: rgba(var(--secondary-dark));
        border-radius: 50px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: rgba(var(--primary-dark))
      }
}